h1 {
    height: 46vw;
    background-color: white;
/*    background: url('/src/public/images/GoaChandran.jpeg') no-repeat center center fixed; */
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body {
    height: 100%;
    
 /*   background:url('/src/public/images/GoaChandran.jpeg') no-repeat center center fixed; */
    background-size: cover;
}