<h3 > Willkommen beim Tutorat, Informatik 1 für MST und ESE Studenten.</h3>

<p> 
    Das Tutorat findet Donnerstags von 10 bis 12 Uhr in Geb. 051 SR 00-031 statt.
Falls ihr es mal nicht schaffen solltet anwesend zu sein, könnt ihr auf dieser Webseite sehen was in der Übungsgruppe 2 passiert ist.
</p>

<p> 
Falls ihr es mal nicht schaffen solltet anwesend zu sein, könnt ihr auf dieser Webseite sehen was in der Übungsgruppe 2 passiert ist.
</p>

<p> 
Den Inhalt der Übungen finden sie wie versprochen hier.
</p>

<h4> Einrichtung einer Virtuellen Machine </h4>
<ol>
  <li>Einrichtung von Linux (Virtuelle Machine)</li>
  <li>Einrichtung in Windows</li>
  <li>Fix in Windows</li>
</ol> 

<p> 
Im ersten Windows Video dachte ich das nur ich Probleme mit der Ausführung von javac in der Windows Kommandozeile habe. Anscheinend haben alle dieses Problem, weil bei der Installation von JDK in Windows keine Verknüpfung zwischen dem Kommando javac und der Binärdatei von javac entstanden ist. In Video 3 könnt ihr also sehen wie man unter Windows javac zum laufen bringt.
</p> 

<p>
Die Schritte:
</p>
<ol>
  <li>Systemsteuerung --> Advanced System Settings --> Environment Variables</li>
  <li>Runter scrollen bis ihr "path" oder "Pfad" findet.</li>
  <li>Jetzt geht ihr zu C/Programme/Java/JDK.../bin/ und ihr kopiert den aktuellen Pfad.</li>
  <li>Jetzt gehen wir zurück zum Pfad-Eingabefeld aus Schritt 2 und wir machen nach dem aktuell eingetragenem Pfad ein Semikolon und ein Leerzeichen und dann tragen wir unseren eigenen (eben kopierten) Pfad am ende ein.</li>
  <li>Alles schließen und die Kommandozeile neu öffnen.</li>
  <li>"javac" eingeben und es sollte funktionieren.</li>
</ol> 

<h4> Videos zu den Übungsblättern </h4>
<p> Probe Übung: </p>
<ul>
  <li>Blatt 1</li>
  <li>Blatt 2</li>
  <li>Blatt 3</li>
  <li>Blatt 4</li>
  <li>Blatt 5</li>
  <li>Blatt 6</li>
  <li>Blatt 7</li>
  <li>Blatt 8</li>
  <li>Blatt 9</li>
  <li>Blatt 10</li>
  <li>Blatt 11</li>
  <li>Blatt 12</li>
  <li>Blatt 13</li>
</ul> 

<p> Die wirkliche Übung: </p>
<ul>
  <li>Blatt 1</li>
  <li>Blatt 2</li>
  <li>Blatt 3</li>
  <li>Blatt 4</li>
  <li>Blatt 5</li>
  <li>Blatt 6</li>
  <li>Blatt 7</li>
  <li>Blatt 8</li>
  <li>Blatt 9</li>
  <li>Blatt 10</li>
  <li>Blatt 11</li>
  <li>Blatt 12</li>
  <li>Blatt 13</li>
</ul> 

<p> 
Bitte beachtet, dass ich in Übung 5 meine falsche Aussage in Aufgabe 5.1 korrigiert habe. Der Bitüberlauf tritt nicht auf weil zu wenig Bits vorhanden sind um 7<sup>3</sup> darzustellen, sondern weil <sup>1</sup>&frasl;<sub>7</sub> unendlich viele Nachkommastellen hat und somit unendlich viele Bits benötigt wären um diese Zahl darzustellen.
</p>

<p> 
In der Übung 9 werde ich noch mal auf die letzte Aufgaben aus Übung 8 zurück greifen um zu zeigen wie es sich korrekter lösen lässt.
</p>

<p> 
Das Video von Übung 10 habe ich blöderweise wieder kaputt gemacht indem das ich auf "abbrechen" statt "stoppen" geklickt habe. Hier eine kurze Zusammenfassung:
</p>

<ul>
  <li>Die Matrizenmultiplikation wurde ausführlicher besprochen.</li>
  <li>Es wurden Fragen gestellt, weil in der Vorlesung die Ergebnisse eines Rekursiven aufrufs bearbeitet wurden bevor sie durch return weiter gegeben wurden (Siehe Folie 11.18). Auf jeder Ebene der Rekursion wird X an assistantResult ran multipliziert und dann erst "returned".</li>
  <li>Es wurde erwähnt das Baujahr direkt in Fahrzeug stehen könnte und das es von allen anderen Klassen geerbt werden könnte. Dadurch würde die Klasse Kraftfahrzeug auch ein Baujahr besitzen, aber in der Aufgabenstellung wird das nicht ausgeschlossen. Eigentlich könnten auch die Kennzeichen, Sitzplätze und Leistung in Kraftfahrzeug stehen und von dort aus geerbt werden.. In der Übung haben wir das nicht verändert, aber wir haben Baujahr direkt in der Klasse Fahrzeug implementiert und alle andere Klassen haben Baujahr geerbt.</li>
  <li>In der Übung haben wir festgestellt das pro Konstruktor nur ein mal super(...) aufgerufen werden darf. Wenn mehrere Methoden aus der Super Klasse verwendet werden, müssen mehrere Argumente durch Kommas getrennt in den super Aufruf eingetragen werden.</li>
</ul> 


<p>
Hier findet ihr Altklausuren und hier ist eine sehr gute Zusammenfassung von Nico Bühler.
</p>

<p>
Viel Erfolg in der Klausur!
</p>

